@import "fonts";

.coffeescript-icon {
  .fa;
  content: '\f0f4';          // http://fortawesome.github.io/Font-Awesome/icon/coffee/
}

.grunt-icon {
  .di;
  content: '\e64c';          // http://vorillaz.github.io/devicons/#/singleicon/grunt
}

.gulp-icon {
  .di;
  content: '\e663';          // http://vorillaz.github.io/devicons/#/singleicon/gulp
}

.javascript-icon {
  .mf;
  content: '\f148';          // http://mfizz.com/oss/font-mfizz/icon-javascript
}

.repository-icon {
  content: '\f001';          // http://octicons.github.com/icon/repo/
}

.settings-icon {
  content: '\f02f';          // http://octicons.github.com/icon/gear/
}
